[submodule "contrib-prompt/external/garrett"]
	path = contrib-prompt/external/garrett
	url = https://github.com/chauncey-garrett/zsh-prompt-garrett.git
[submodule "contrib-prompt/external/lean"]
	path = contrib-prompt/external/lean
	url = https://github.com/miekg/lean.git
[submodule "contrib-prompt/external/spaceship"]
	path = contrib-prompt/external/spaceship
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "fzy/external"]
	path = fzy/external
	url = https://github.com/aperezdc/zsh-fzy.git
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "fzf-tab-source"]
	path = fzf-tab-source
	url = https://github.com/Bibernull/fzf-tab-source
